@font-face {
  font-family: "Fraunces144pt";
  src: local("Fraunces Semibold"),
    url("/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "ManropeTest";
  src: local("Manrope"),
    url("/assets/fonts/manrope/Manrope-VariableFont_wght.ttf");
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-purple: #24053e;
  --neon-green: #44ffa1;
  --dark-gray: #584d62;
  --light-gray: #fcf8ff;
  --white: #ffffff;
}

body {
  font-family: "ManropeTest", sans-serif;
  position: relative;
}

h1,
h2,
h3 {
  font-family: "Fraunces144pt", sans-serif;
}

h1 {
  font-size: 50px;
  line-height: 50px;
  color: var(--white);
  margin: 0 auto 2.5rem;
  max-width: 400px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  margin-bottom: 1rem;
  color: var(--dark-purple);
}

h3 {
  font-size: 32px;
  line-height: 48px;
}

p {
  line-height: 28px;
}

header {
  height: 481px;
  background-color: var(--light-gray);
}

.hero-container {
  height: 100%;
  background-color: var(--dark-purple);
  clip-path: ellipse(175% 100% at 50% 0%);
  padding: 1rem;
  position: relative;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
}

.apply-link {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  color: var(--white);
  letter-spacing: -0.16px;
  line-height: 32px;
  text-decoration: none;
  border-bottom: 3px solid var(--neon-green);
}

.apply-link:hover {
  color: var(--neon-green);
}

.hero-content {
  margin-top: 64px;
  text-align: center;
}

.underlined {
  border-bottom: 3px solid var(--neon-green);
  display: inline-block;
}

button {
  background-color: var(--neon-green);
  border: none;
  padding: 0.75rem 1.5rem;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  line-height: 32px;
}

button:hover {
  background-color: transparent;
  border: 2px solid var(--neon-green);
  color: var(--neon-green);
  cursor: pointer;
}

.hero-img {
  width: 300px;
  position: absolute;
  top: 390px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.spiral {
  display: none;
}

.product-benefits {
  background-color: var(--light-gray);
  padding: 9rem 1rem 1rem 1rem;
  text-align: center;
  clip-path: ellipse(250% 100% at 50% 0%);
}

.benefit-card {
  margin-bottom: 2.5rem;
  text-align: center;
}

.benefit-card__number {
  border: 1px solid var(--dark-purple);
  height: 48px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 1.5rem;
  font-family: "Fraunces144pt", sans-serif;
  font-size: 20px;
}

.benefit-card__text {
  color: var(--dark-gray);
  max-width: 400px;
  margin: 0 auto;
}

.founder-section {
  /* text-align: center; */
  padding: 2.5rem 1rem 1rem;

  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */

  max-width: 768px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 0 auto;
}

.founder-img-container {
  /* width: 100%; */
}

.founder-img {
  width: 281px;
  position: relative;
  top: 60px;
  z-index: -1;
}

.cta-card {
  background-color: var(--dark-purple);
  padding: 2rem;
  color: var(--white);
  max-width: 500px;
}

.cta-card h3 {
  margin-bottom: 1rem;
}

.cta-card p {
  margin-bottom: 1.5rem;
}

footer {
  padding: 4.625rem 1rem 4rem;
  text-align: center;
}

.footer-logo {
  margin-bottom: 3rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}

.attribution {
  position: absolute;
  bottom: 0px;
  font-size: 0.75rem;
  left: 0px;
  right: 0px;
}

.attribution a {
  color: var(--dark-purple);
}

@media (min-width: 768px) {
  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  header {
    height: 540px;
  }

  .hero-container {
    padding: 2rem 2.5rem 0rem;
  }

  .hero-img {
    width: 514px;
    top: 405px;
  }

  .spiral {
    display: block;
    position: absolute;
    z-index: 50;
  }

  .spiral.left {
    top: 11%;
    left: -29%;
  }

  .spiral.right {
    top: 50%;
    position: absolute;
    right: -13%;
  }

  .product-benefits {
    padding-top: 14rem;
    padding-bottom: 3rem;
    clip-path: ellipse(150% 100% at 50% 0%);
  }

  .benefit-card {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
  }

  .benefit-card__text-container {
    text-align: left;
  }

  .benefit-card__text {
    max-width: 473px;
  }

  .cta-card {
    max-width: 514px;
    position: absolute;
    padding: 48px 56px 56px;
    text-align: left;

    left: 217px;
    top: 249px;
  }

  .cta-card h3 {
    font-size: 48px;
    line-height: 56px;
  }

  .founder-section {
    position: relative;
    padding: 2.5rem 2.5rem 1rem;
    align-items: initial;
    height: 689px;
  }

  .spiral.bottom {
    right: 0px;
    bottom: -26%;
  }
}

@media (min-width: 1024px) {
  .spiral.left {
    left: -15%;
  }

  .spiral.right {
    right: -5%;
  }
}

@media (min-width: 1440px) {
  h1 {
    font-size: 80px;
    line-height: 80px;
    max-width: 600px;
  }

  h2 {
    font-size: 32px;
    line-height: 40px;
  }

  header {
    height: 730px;
  }

  .hero-container {
    clip-path: ellipse(125% 100% at 50% 0%);
    padding: 60px 165px 0px;
  }

  .hero-img {
    width: 757px;
    top: 480px;
  }

  .apply-link {
    font-size: 1.125rem;
  }

  button {
    font-size: 1.125rem;
    padding: 13px 32px 16px;
  }

  .spiral.left {
    left: -9%;
    top: 19%;
  }

  .spiral.right {
    right: -3%;
    top: 45%;
  }

  .product-benefits {
    display: flex;
  }

  .benefit-card {
    flex-direction: column;
  }

  .benefit-card__text-container {
    text-align: center;
  }

  /* add flex on prod benefits, change flex direction to column for benefit card, text align center for text container */
}
